# Pattern to input fastq files, use {sample} to inidicate portion of filename
# that corresponds to the sample name (e.g. data/{sample}.fq.gz)
fastq_file_pattern: "data/{sample}.fastq.gz"

# Output directories
# Directory to put working files (trimmed reads, bam files, etc.)
working_dir: "results/working"
# Directory to store final results (count matrix, summary reports)
results_dir: "results"

ref:
  # the reference fasta file
  fasta: "data/my_genome/my_genome.fa"
  # gtf file with transcripts
  annotation: "data/my_genome/my_genome.gtf"

# UMI related options
umi:
  # Use UMI sequence to deduplicate
  # UMIs must be a fixed length sequence appended to each read name
  # The resulting BAM file will contain only uniquely mapping reads (-q 255)
  # This is a requirement for the duplicate marking code (nudup)
  mark_umi_duplicates: Yes

params:
  star:
    # optional star parameters
    extra: ""
    # Command to unzip gzip files to stdout (zcat, gzcat, etc.)
    zcat_command: "zcat"
  trimmomatic:
    # list of trimmers (see manual)
    trimmers:
      - "ILLUMINACLIP:AdaptersTrim.fasta:1:30:7"
      - "MINLEN:20"
    # optional parameters
    extra: ""
  nudup:
    umi_length: 8
    umi_start: 8
    tmp_dir: "/tmp"
    # optional parameters
    extra: ""
  featurecounts:
    feature_type: "exon"
    attribute_type: "gene_id"
    extra: "-Q 50"
